.container__dashboard {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to top,
      rgba(2, 77, 183, 1) 2%,
      rgba(2, 77, 183, 0)
    ),
    url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}
.nav__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 100px;
  height: auto;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 550px;
  color: #fff;
}
.hero__title__dashboard {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
  line-height: 90%;
}
.hero__paragraph__dashboard {
  font-size: 1rem;
  text-align: center;
  line-height: 120%;
  color: #e0e0e0;
  margin: 1rem 0;
}
.hero__input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero__title__dashboard {
    font-size: 2.5rem;
  }
  .hero__paragraph__dashboard {
    font-size: 1.2rem;
  }
  .hero__input-container {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .nav__dashboard {
    padding: 0 4rem;
  }
  .nav__logo {
    width: 130px;
  }
  .hero__title__dashboard {
    font-size: 3rem;
    padding: 0 5rem;
  }
  .hero__paragraph__dashboard {
    font-size: 1.2rem;
  }
  .hero__input-container {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .nav {
    padding: 0 8rem;
  }
  .nav__logo {
    width: 150px;
  }
  .hero__title__dashboard {
    font-size: 3.5rem;
    padding: 0 18rem;
  }
  .hero__paragraph__dashboard {
    font-size: 1.2rem;
  }
  .hero__input-container {
    width: 40%;
  }
}
