.btn--primary {
  background-color: #0586ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}
.btn--primary:hover {
  background-color: #0367db;
}
.btn--primary:active {
  background-color: #024db7;
}

.btn--secondary {
  width: 100%;
  background-color: #3d4142;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  font-size: 1rem;
  cursor: pointer;
}
.btn--secondary--outline {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #e7e3fc99;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  font-size: 1rem;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
