.embla {
  width: 100%;
}
.embla__viewport {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.embla-container {
  display: flex;
  gap: 1rem;
  position: relative;
}
.embla__next,
.embla__prev {
  z-index: 1;
}
